@import "tailwindcss";

/* Custom Theme Variables */
:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f8fafc;
  /* Slate 50 */
  --primary: #c0a062;
  /* Premium Gold */
  --primary-hover: #d4b475;
  --surface: #1e293b;
  /* Slate 800 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}